/*
* @Author: Administrator
* @Date:   2017-08-09 09:50:20
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-15 15:55:55
*/
@charset "utf-8";
.header{
	width: 100%;
}
.header .loginbar{
	width: 100%;
	height: 35px;
	background: #eaeaea;	
}
.header .loginbar li{
	font-size: 14px;
	line-height: 35px;
}
.header .loginbar ul li span{
	margin: 0 14px 0 16px;
}
.header .loginbar li a:hover{
	color: red;
}
.fengexian{
	width: 100%;
	height: 3px;
	background: #eaeaea;
	margin:10px 0;
}
/* 以上是网页头部登录条 */
.header .search{
	height: 110px;
}
.header .search img.logo{
	margin: 10px 0;
	width: 181px;
}
/* 以上是网页头部搜索区 */



/* 以下是网页主体 */


/* 以下是网页底部 */
.footer{
	position: relative;
	width: 100%;
	height: 120px;
}
.footer .friendlink{
	background: #004289;
	height: 40px;
	color: white;
	text-align: center;
}
.footer .friendlink a{
	display: inline-block;
	margin: 0 15px;
	color: white;
	font-size: 14px;
	line-height: 40px;
}
.footer .service{	
	font-size: 12px;
	color: #b3b3b3;
}
.footer .logo1{
	position: absolute;
	top: 50px;
	right: 500px;
}