/*
* @Author: Administrator
* @Date:   2017-08-09 19:20:45
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-15 15:25:19
*/
@charset "utf-8";
.main-up3{
	margin-top: 11px;
}
.main-up3 .up3-up{
	height: 43px;
	font-weight: bold;
	background:url(../imges/background.jpg) repeat-x;
	border:1px solid #ebebeb;
}
.main-up3 .up3-up img{
	margin: 15px 0 0 16px;
}
.main-up3 .up3-up a{
	color: #070707;
	font-size: 14px;
	margin-top:16px; 
}
.up3-up .shouye{
	margin-left: 3px;
	width: 45px;
	background: url(../imges/jiankuohao.jpg) no-repeat 39px 6px;
}
.up3-up .jingjiren{
	margin-left: 9px;
	background: url(../imges/jiankuohao.jpg) no-repeat 82px 7px;
	width:90px;
}
.up3-up .xiangqing{
	margin-left: 9px;
}
/* 以上是第三个网页头部部分 */
.content{
	margin-top: 14px;
}
.content .xiaoli{
	height: 440px;
	width: 255px;
	background: url(../imges/anjilina.jpg)no-repeat 17px 25px #fff;
	border: 1px solid #f1f0f0;

}
.content .neirong{
	height: 26px;
	width: 207px;
	background: #d1261c;
	margin-top: 280px;
	margin-left: 16px;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color:#fff;
}
.content .bianju > p {
	color: #000;
	font-size: 14px;
}
.content .bianju > p > span{
	color:#aaa;
	font-size: 14px;
}
.content .bianju{
	margin-left: 16px;
	font-size: 14px;
	line-height: 20px;
	margin-top:18px;
}
.shurukuang {
	width: 256px;
	height: 466px;
	border:1px solid #f1efef;
	margin-top: 15px;
}
.shurukuang p{
	font-size: 11px;
	color: #000;
}
.shurukuang input{
	margin: 10px 0 15px 0;
	background: #f8f8f8;
	border:none;
	border:1px solid #d7d7d7;
}
.shurukuang input[type="text"]{
	width: 213px;
	height: 26px;
}
.shurukuang input[type="text1"]{
	width: 213px;
	height: 84px;
}
.shurukuang input[type="submit"]{
	width: 214px;
	height: 35px;
	background: #d1261c;
	color: #fff;
}
.shurukuang .kehu{
	height: 38px;
	width: 239px;
	font-size: 15px;
	background: #004289;
	color:#fff;
	padding-left: 18px;
	line-height: 38px;
}
.shurukuang form{
	margin: 23px 0 0 18px;
}
/* 以上是网页的左部 */
.content-right{
	width: 710px;
	margin:20px 0 0 27px;
	 
}
.content-right ul > h4{
	width: 710px;
	height:29px; 
	border-bottom: 3px solid #d2d2d2;
}
.content-right ul li{
	float: left;
	width: 226px;
	height: 214px;
	background: pink;
	margin: 18px 16px 0 0;
	background: url(../imges/lugang.gif)no-repeat;
}
.content-right ul .fangzi{
	margin-right: 0;
}
.content-right  ul li div{
	margin-top:164px; 
}
.content-right  ul li p{
	font-size: 13px;
	color:#000;
}
.content-right  ul li span{
	font-size: 13px;
	color: #f00;
	font-weight: bold;
}
/* 以上是网页的右部 */
.footer3 ul{
	margin: 87px 0 66px 484px;
	width: 400px;
	height: 30px;
}
.footer3 ul li{
	float: left;
	width: 18px;
	height: 26px;
	line-height: 26px;
	margin-left: 8px;
	padding-left: 10px;
	color: #3462af;
	background: #fafbfd;
	border: 1px solid #d7dae3;
}
.footer3 ul .yema{
	width: 60px;
	height: 26px;
	background: #efefef;
}
.footer3 ul .second{
	width: 60px;
	height: 26px;
}
.footer3 ul li:hover{
	color: #fff;
	background: #005d9a;
}
.footer3 ul .bianse{
	color: #fff;
	background: #005d9a; 
}
/* 以上是网页的底部 */
