/*
* @Author: Administrator
* @Date:   2017-08-15 12:42:42
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-15 14:57:43
*/
/*
* @Author: Administrator
* @Date:   2017-08-10 18:47:14
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-13 14:24:59
*/
.main-top2{
	margin-top: 13px;
}
.main-top2 .top2-top{
	height: 43px;
	font-weight: bold;
	background:url(../imges/background.jpg) repeat-x;
	border:1px solid #ebebeb;
}
.main-top2 .top2-top img{
	margin: 15px 0 0 16px;
}
.main-top2 .top2-top a{
	color: #070707;
	font-size: 14px;
	margin-top:16px; 
}
.top2-top .sy{
	margin-left: 3px;
	width: 45px;
	background: url(../imges/jiantou.jpg) no-repeat 39px 3px;
}
.top2-top .lb{
	margin-left: 9px;
}
.main-top2 .top2-btm{
	padding: 22px 16px 21px 17px;
	border:1px solid #ebebeb;
	background: url(../imges/background1.jpg) repeat-x;
}
.top2-btm select{
	float: left;
	width: 120px;
	color: #474747;
	margin-right: 10px;
	padding:5px 7px;
	border: 1px solid #dadada;
}
.top2-btm form input{
	width: 363px;
	height: 17px;
	padding: 5px 4px;
	border:1px solid #dbdbdb;
	color: #858585;
}
.top2-btm form .photo{
	width: 56px;
	height: 28px;
	border: none;
	background: url(../imges/search.jpg) no-repeat #005d9a 20px 7px;
}
/* 以上是第二个网页头部部分 */
.content2 ul li{
	margin: 20px 12px 0 0;
	width: 239px;
	height: 131px;
	background:url(../imges/touxiang.jpg) no-repeat #fff 1px 5px;
	border:1px solid #eee;
}
.content2 ul li p{
	margin-left:99px;
	font-size: 12px;
	color: #050505;
	line-height: 22px;
}
.content2 ul li .title{
	margin: 4px 0 8px 99px;
	width: 110px;
	height: 26px;
	background: url(../imges/background3.jpg) repeat-x;
	line-height: 26px;
	color: white;
	padding-left: 27px;
}
.content2 ul li p span{
	color: #adadad;
}
.content2 ul .right{
	margin-right: 0px;
}
/* 以上是第二个网页内容部分 */
.footer2 ul{
	margin: 32px 0 66px 313px;
	width: 400px;
	height: 30px;
}
.footer2 ul li{
	float: left;
	width: 18px;
	height: 26px;
	line-height: 26px;
	margin-left: 8px;
	padding-left: 10px;
	color: #3462af;
	background: #fafbfd;
	border: 1px solid #d7dae3;
}
.footer2 ul .first{
	width: 60px;
	height: 26px;
	background: #efefef;
}
.footer2 ul .final{
	width: 60px;
	height: 26px;
}
.footer2 ul li:hover{
	color: #fff;
	background: #005d9a;
}
/* 以上是翻页部分 */